.anggota {
  width: 100%;
  padding: 15px 10px;
  background-color: #f3f3f3;
  /* border-bottom: 1px solid #ddd; */
  cursor: pointer;
}
.anggota:hover {
  background-color: #ffff;
}

.flex-atas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-atas strong {
  font-size: 1rem;
  font-weight: 600;
}
.flex-angsuran {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.flex-angsuran span {
  font-size: 12px;
  font-weight: 600;
}
.flex-angsuran p {
  font-size: 10px;
  font-weight: 500;
  color: #777;
}

.flex-bawah {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-bawah span {
  font-size: 13px;
  font-weight: 500;
  color: #777;
}
.flex-bawah p {
  background-color: #158fff;
  color: #fff;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
}
