.link-angsuran {
  text-decoration: none;
  color: #0c0c0c;
}

.anggota {
  width: 100%;
  padding: 15px 10px;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.2s ease;
  border-bottom: 1px solid #ddd;
}
.anggota:hover {
  background-color: #fff;
}

.anggota .flex-row {
  display: flex;
}

.flex-satu {
  width: 50%;
  height: 40px;
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.flex-satu .sobekan {
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #151515;
  background-color: #fff;
  color: #151515;
}

.flex-column-satu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  overflow: hidden;
}
.flex-column-satu .flex-kiri {
  display: flex;
  align-items: center;
  gap: 5px;
}
.flex-column-satu .flex-kiri span {
  width: 10px;
  height: 12px;
  line-height: 12px;
  border-radius: 2px;
  font-size: 8px;
  font-weight: 800;
  text-align: center;
  background-color: #dba226;
  color: #0c0c0c;
}

.flex-column-satu span {
  font-size: 12px;
  font-weight: 500;
  color: #666666;
}

.flex-dua {
  width: 20%;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 1px;
  overflow: hidden;
  text-transform: uppercase;
}
.flex-dua span {
  font-size: 10px;
  font-weight: 600;
  color: #777;
}

.flex-column-dua {
  width: 30%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  overflow: hidden;
}
.flex-column-dua strong {
  text-transform: lowercase;
}
.flex-column-dua span {
  font-size: 12px;
  font-weight: 500;
  color: #666666;
}
.footer-nasabah {
  width: 100%;
  padding: 10px;
  margin-bottom: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dba226;
}

.footer-nasabah p {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}
