.bottomTabs {
  width: 100%;
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLink svg {
  color: #fff;
  stroke: #000;
}

.navLink.active svg,
.navLink.active {
  color: #000;
  font-weight: 600;
}
