.topTabs {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 16px;
}

.link {
  color: #168fff;
  font-weight: 600;
  text-decoration: none;

  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.link svg {
  display: flex;
  align-items: center;
  fill: #168fff;
  width: 15px;
}
