.headerNasabah {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}
.headerNasabah svg {
  display: flex;
  align-items: center;
}

.headerNasabahLink {
  color: #0c0c0c;
  font-weight: 600;
  display: flex;
  gap: 10px;
  font-size: 17px;
  font-weight: 600;
  align-items: center;
  text-decoration: none;
}
