.forms {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forms fieldset {
  border: none;
  margin-bottom: 20px;
}

.forms legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 15px 10px;
  font-size: 1em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Memastikan padding tidak mempengaruhi lebar total */
}

.form-group input[type="date"] {
  /* Custom styling for date input */
  padding: 10px;
}

.forms button {
  background-color: #187fff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.forms button:hover {
  background-color: var(--primary-color);
}
